<div class="m-filter">
	<div class="m-filter__tabs">
		<a href="#" class="f-tabs active" data-tab="m-filter__tab--woman">
			<span class="f-tabs__ico f-tabs__ico--woman"></span>Женская<br>обувь
		</a>
		<a href="#" class="f-tabs" data-tab="m-filter__tab--man">
			<span class="f-tabs__ico f-tabs__ico--man"></span>Мужская<br>обувь
		</a>
	</div>
	<div class="m-filter__tab m-filter__tab--woman">
		<form action="#">
			<div class="m-filter__block m-filter__block--shoes">
				<div class="m-filter__cell m-filter__cell--big fl-l">
					<input type="checkbox" name="checkbox7" id="checkbox7">
					<label for="checkbox7"></label>
					<div class="tooltip">Сапоги</div>
				</div>
				<div class="m-filter__cell m-filter__cell--type1">
					<input type="checkbox" name="checkbox1" id="checkbox1">
					<label for="checkbox1"></label>
					<div class="tooltip">Туфли</div>
				</div>
				<div class="m-filter__cell m-filter__cell--type2">
					<input type="checkbox" name="checkbox2" id="checkbox2">
					<label for="checkbox2"></label>
					<div class="tooltip">Босоножки</div>
				</div>
				<div class="m-filter__cell m-filter__cell--type3">
					<input type="checkbox" name="checkbox3" id="checkbox3">
					<label for="checkbox3"></label>
					<div class="tooltip">Кеды</div>
				</div>
				<br>
				<div class="m-filter__cell m-filter__cell--type4">
					<input type="checkbox" name="checkbox4" id="checkbox4">
					<label for="checkbox4"></label>
					<div class="tooltip">Ботильон</div>
				</div>
				<div class="m-filter__cell m-filter__cell--type5">
					<input type="checkbox" name="checkbox5" id="checkbox5">
					<label for="checkbox5"></label>
					<div class="tooltip">Боты</div>
				</div>
				<div class="m-filter__cell m-filter__cell--type6">
					<input type="checkbox" name="checkbox6" id="checkbox6">
					<label for="checkbox6" class="select--all"></label>
					<a href="catalogue.html" class="select--all">Все модели</a>
				</div>
			</div>
			<div class="m-filter__block m-filter__block--heel">
				<p>Высота каблука:</p>
				<ul>
					<li>
						<input type="checkbox" name="heel1" id="heel1">
						<label for="heel1">2-4 см</label>
					</li>
					<li>
						<input type="checkbox" name="heel2" id="heel2">
						<label for="heel2">4-6 см</label>
					</li>
					<li>
						<input type="checkbox" name="heel3" id="heel3">
						<label for="heel3">6-8 см</label>
					</li>
					<li>
						<input type="checkbox" name="heel4" id="heel4">
						<label for="heel4">8-10 см</label>
					</li>
				</ul>
			</div>
			<div class="m-filter__block m-filter__block--color">
				<p>Цвет:</p>
				<div class="pallete">
					<ul>
						<li class="color color--1">
							<input type="checkbox" name="color1" id="color1">
							<label for="color1"></label>
						</li>
						<li class="color color--2">
							<input type="checkbox" name="color2" id="color2">
							<label for="color2"></label>
						</li>
						<li class="color color--3">
							<input type="checkbox" name="color3" id="color3">
							<label for="color3"></label>
						</li>
						<br>
						<li class="color color--4">
							<input type="checkbox" name="color4" id="color4">
							<label for="color4"></label>
						</li>
						<li class="color color--5">
							<input type="checkbox" name="color5" id="color5">
							<label for="color5"></label>
						</li>
						<li class="color color--6">
							<input type="checkbox" name="color6" id="color6">
							<label for="color6"></label>
						</li>
						<br>
						<li class="color color--7">
							<input type="checkbox" name="color7" id="color7">
							<label for="color7"></label>
						</li>
						<li class="color color--8">
							<input type="checkbox" name="color8" id="color8">
							<label for="color8"></label>
						</li>
						<li class="color color--9">
							<input type="checkbox" name="color9" id="color9">
							<label for="color9"></label>
						</li>
					</ul>
				</div>
				<a href="#" class="select--all">Все цвета</a>
			</div>
			<div class="m-filter__block m-filter__block--size">
				<p>Размер обуви:</p>
				<ul>
					<li>
						<input type="checkbox" name="size36" id="size36">
						<label for="size36">36</label>
					</li>
					<li>
						<input type="checkbox" name="size37" id="size37">
						<label for="size37">37</label>
					</li>
					<li>
						<input type="checkbox" name="size38" id="size38">
						<label for="size38">38</label>
					</li>
					<li>
						<input type="checkbox" name="size39" id="size39">
						<label for="size39">39</label>
					</li>
					<li>
						<input type="checkbox" name="size40" id="size40">
						<label for="size40">40</label>
					</li>
					<li>
						<input type="checkbox" name="size41" id="size41">
						<label for="size41">41</label>
					</li>
				</ul>
				<button type="submit" class="button button--lite button--fix">Подобрать Обувь</button>
			</div>
		</form>
	</div>

	<div hidden class="m-filter__tab m-filter__tab--man">
		<form action="#">
			<div class="m-filter__block m-filter__block--shoes">
				<div class="m-filter__cell m-filter__cell--big m-filter__cell--m-big fl-l">
					<input type="checkbox" name="m-checkbox7" id="m-checkbox7">
					<label for="m-checkbox7"></label>
					<div class="tooltip">Сапоги</div>
				</div>
				<div class="m-filter__cell m-filter__cell--m-type1">
					<input type="checkbox" name="m-checkbox-1" id="m-checkbox-1">
					<label for="m-checkbox-1"></label>
					<div class="tooltip">Туфли</div>
				</div>
				<div class="m-filter__cell m-filter__cell--m-type2">
					<input type="checkbox" name="m-checkbox-2" id="m-checkbox-2">
					<label for="m-checkbox-2"></label>
					<div class="tooltip">Босоножки</div>
				</div>
				<div class="m-filter__cell m-filter__cell--m-type3">
					<input type="checkbox" name="m-checkbox-3" id="m-checkbox-3">
					<label for="m-checkbox-3"></label>
					<div class="tooltip">Кеды</div>
				</div>
				<br>
				<div class="m-filter__cell m-filter__cell--m-type4">
					<input type="checkbox" name="m-checkbox-4" id="m-checkbox-4">
					<label for="m-checkbox-4"></label>
					<div class="tooltip">Тапочки</div>
				</div>
				<div class="m-filter__cell m-filter__cell--m-type5">
					<input type="checkbox" name="m-checkbox-5" id="m-checkbox-5">
					<label for="m-checkbox-5"></label>
					<div class="tooltip">Полуботинки</div>
				</div>
				<div class="m-filter__cell m-filter__cell--type6">
					<input type="checkbox" name="m-checkbox-6" id="m-checkbox-6">
					<label for="m-checkbox-6"></label>
					<a href="catalogue.html" class="select--all">Все модели</a>
				</div>
			</div>
			<div class="m-filter__block m-filter__block--heel">
				<p>Высота платформы:</p>
				<ul>
					<li>
						<input type="checkbox" name="m-heel1" id="m-heel1">
						<label for="m-heel1">1 см</label>
					</li>
					<li>
						<input type="checkbox" name="m-heel2" id="m-heel2">
						<label for="m-heel2">1.5 см</label>
					</li>
					<li>
						<input type="checkbox" name="m-heel3" id="m-heel3">
						<label for="m-heel3">2 см</label>
					</li>
					<li>
						<input type="checkbox" name="m-heel4" id="m-heel4">
						<label for="m-heel4">3 см</label>
					</li>
				</ul>
			</div>
			<div class="m-filter__block m-filter__block--color">
				<p>Цвет:</p>
				<div class="pallete">
					<ul>
						<li class="color color--1">
							<input type="checkbox" name="m-color1" id="m-color1">
							<label for="m-color1"></label>
						</li>
						<li class="color color--2">
							<input type="checkbox" name="m-color2" id="m-color2">
							<label for="m-color2"></label>
						</li>
						<li class="color color--3">
							<input type="checkbox" name="m-color3" id="m-color3">
							<label for="m-color3"></label>
						</li>
						<br>
						<li class="color color--4">
							<input type="checkbox" name="m-color4" id="m-color4">
							<label for="m-color4"></label>
						</li>
						<li class="color color--5">
							<input type="checkbox" name="m-color5" id="m-color5">
							<label for="m-color5"></label>
						</li>
						<li class="color color--6">
							<input type="checkbox" name="m-color6" id="m-color6">
							<label for="m-color6"></label>
						</li>
						<br>
						<li class="color color--7">
							<input type="checkbox" name="m-color7" id="m-color7">
							<label for="m-color7"></label>
						</li>
						<li class="color color--8">
							<input type="checkbox" name="m-color8" id="m-color8">
							<label for="m-color8"></label>
						</li>
						<li class="color color--9">
							<input type="checkbox" name="m-color9" id="m-color9">
							<label for="m-color9"></label>
						</li>
					</ul>
				</div>
				<a href="#" id="all-color" class="select--all">Все цвета</a>
			</div>
			<div class="m-filter__block m-filter__block--size">
				<p>Размер обуви:</p>
				<ul>
					<li>
						<input type="checkbox" name="m-size39" id="m-size39">
						<label for="m-size39">39</label>
					</li>
					<li>
						<input type="checkbox" name="m-size40" id="m-size40">
						<label for="m-size40">40</label>
					</li>
					<li>
						<input type="checkbox" name="m-size41" id="m-size41">
						<label for="m-size41">41</label>
					</li>
					<li>
						<input type="checkbox" name="m-size42" id="m-size42">
						<label for="m-size42">42</label>
					</li>
					<li>
						<input type="checkbox" name="m-size43" id="m-size43">
						<label for="m-size43">43</label>
					</li>
					<li>
						<input type="checkbox" name="m-size44" id="m-size44">
						<label for="m-size44">44</label>
					</li>
					<li>
						<input type="checkbox" name="m-size45" id="m-size45">
						<label for="m-size45">45</label>
					</li>
					<li>
						<input type="checkbox" name="m-size46" id="m-size46">
						<label for="m-size46">46</label>
					</li>
					<li>
						<input type="checkbox" name="m-size47" id="m-size47">
						<label for="m-size47">47</label>
					</li>
					<li>
						<input type="checkbox" name="m-size48" id="m-size48">
						<label for="m-size48">48</label>
					</li>
				</ul>
				<button type="submit" class="button button--lite button--fix">Подобрать Обувь</button>
			</div>
		</form>
	</div>
</div>
