<nav class="pag">
  <span class="disable">Страницы:</span>
  <ul class="pag__list">
    <li>
      <a href="#" aria-label="Previous">
        <span class="disable">Предыдущая</span>
      </a>
    </li>
    <li class="disable" >1</li>
    <li><a href="#">2</a></li>
    <li class="active"><a href="#">3</a></li>
    <li>...</li>
    <li><a href="#">18</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">Следующая</span>
      </a>
    </li>
  </ul>
  <a href="#" class="pag__up" >Наверх</a>
</nav>