<div class="e-form e-form__order">
	<p class="e-form__desc">
		Мы рады, что вы совершаете первую покупку в магазине Еврообувь. <br>
		Просто заполните все данные о заказе. Регистрация пройдет автоматически. На ваш e-mail мы вышлем подтверждение о приеме заказа и пароль <wbr> от личного кабинета для простоты совершения следующих покупок.
	</p>
	<form action="#" name="order">
		<div class="e-form--inline">
			<label for="name">Ваше имя:</label>
			<input type="text" name="name" id="name">
		</div>

		<div class="e-form--inline">
			<label for="phone">Телефон:</label>
			<input type="text" name="phone" id="phone" placeholder="+7 ( ... ) ... - .. - ..">
		</div>

		<div class="e-form--wrap">
			<div class="e-form--inline">
				<div class="e__dropList">
					<p>Населенный пункт:</p>
					<span class="filter-label">Пятигорск</span>
					<div class="filter__drop">
						<select placeholder="Категория" name="select1" multiple="multiple" id="opt-category" hidden>
			                <option title="city" name="1">Пятигорск1</option>
			                <option title="city" name="2">Пятигорск2</option>
			                <option title="city" name="3">Пятигорск3</option>
				        </select>
					</div>
				</div>
			</div>
			<div class="e-form--inline">
				<span class="e-form__prompt e-form__prompt--big e-form__prompt--bottom">В зависимости от вашего места проживания мы предложим варианты доставки заказа.</span>
			</div>
		</div>

		<div class="e-form--wrap">
			<div class="e__dropList">
				<p>Способ доставки:</p>
				<span class="filter-label">Почта России</span>
				<div class="filter__drop">
					<select placeholder="Категория" name="select1" multiple="multiple" id="opt-category" hidden>
		                <option title="delivery" name="1">Почта России</option>
		                <option title="delivery" name="2">Куръерская доставка</option>
		                <option title="delivery" name="3">Магазин</option>
			        </select>
				</div>
			</div>
		</div>

		<h3>Адрес:</h3>


		<div class="e-form--wrap">
			<div class="e-form--inline">
				<label for="index">Индекс:</label>
				<input type="text" name="index" id="index">
			</div>

			<div class="e-form--inline">
				<label for="street">Улица:</label>
				<input type="text" name="street" id="street">
			</div>

			<div class="e-form--inline">
				<label for="house">Дом:</label>
				<input type="text" name="house" id="house" class="input-small">
			</div>

			<div class="e-form--inline">
				<label for="apartment">Квартира:</label>
				<input type="text" name="apartment" id="apartment" class="input-small">
			</div>
		</div>

		<div class="e-form--wrap">
			<div class="e-form--inline">
				<label for="comment">Комментарий к адресу:</label>
				<textarea name="comment" id="comment"></textarea>
			</div>
			<div class="e-form--inline">
				<span class="e-form__prompt e-form__prompt--big">
					Если есть какие-то дополнительные данные о вашем расположении,
					например, корпус, укажите эту информацию в данном поле
				</span>
			</div>
		</div>
		
		<div class="e-form--radio">
			<p>Способ оплаты:</p>
			<input type="radio" name="payment" value="1" id="visa">
			<label for="visa">Visa/MasterCard</label>

			<input type="radio" name="payment" value="2" id="yad">
			<label for="yad">Янндекс.Деньги</label>

			<input type="radio" name="payment" value="3" id="cash">
			<label for="cash">При получении</label>
		</div>

		<h3>Итого: <span>5674 руб.</span></h3>

		<div class="e-form--wrap">
			<button type="submit" class="button button--yelow">Оформить заказ</button>
		</div>
	</form>
</div>