<div class="e-form e-form__person">
	<h3>Данные для заказов</h3>
	<form action="#" name="personal">
		<div class="e-form--wrap">
			<div class="e-form--inline">
				<label for="name">Ваше имя:</label>
				<input type="text" name="name" id="name">
			</div>

			<div class="e-form--inline">
				<label for="surname">Фамилия:</label>
				<input type="text" name="surname" id="surname">
			</div>
		</div>
		<div class="e-form--wrap">
			<div class="e-form--inline">
				<label for="e-mail">E-mail:</label>
				<input type="text" name="e-mail" id="e-mail">
			</div>

			<div class="e-form--inline">
				<label for="phone">Телефон:</label>
				<input type="text" name="phone" id="phone">
			</div>
		</div>
		<div class="e-form--wrap">
			<div class="e-form--inline">
				<label for="sex">Пол:</label>
				<input type="text" name="sex" id="sex">
			</div>

			<div class="e-form--inline">
				<label for="birthday">Дата рождения:</label>
				<input type="text" name="birthday" id="birthday" placeholder="День" class="input-small">
				<input type="text" name="birthmonth" id="birthmonth" placeholder="Месяц" class="input-small">
				<input type="text" name="birthyear" id="birthyear" placeholder="Год" class="input-small">
			</div>
		</div>
		<div class="e-form--wrap">
			<button type="submit" class="button button--yelow">Сохранить</button>
		</div>
	</form>
</div>
