<div class="e-form e-form__person">
	<h3>Данные для заказов</h3>
	<form action="#" name="personal">
		<div class="e-form--wrap">
			<div class="e-form--inline">
				<label for="name">Ваше имя:</label>
				<input type="text" name="name" id="name">
			</div>

			<div class="e-form--inline">
				<label for="surname">Фамилия:</label>
				<input type="text" name="surname" id="surname">
			</div>
		</div>
		<div class="e-form--wrap">
			<div class="e-form--inline">
				<label for="e-mail">E-mail:</label>
				<input type="text" name="e-mail" id="e-mail">
			</div>

			<div class="e-form--inline">
				<label for="phone">Телефон:</label>
				<input type="text" name="phone" id="phone" placeholder="+7 ( ... ) ... - .. - ..">
			</div>
		</div>
		<div class="e-form--wrap">
			<div class="e-form--inline e-form--mr10">
				<div class="e__dropList">
					<p class="e__label">Пол:</p>
					<span class="filter-label">Женский</span>
					<div class="filter__drop">
						<select placeholder="Категория" name="sex1" multiple="multiple" id="opt-category" hidden>
			                <option title="sex" name="1">Женский</option>
			                <option title="sex" name="2">Мужской</option>
			                <option title="sex" name="3">Пятигорск</option>
				        </select>
					</div>
				</div>
			</div>
			<div class="e-form--inline e-form--mr10">
				<div class="e__dropList">
					<p class="e__label">Дата рождения:</p>
					<span class="filter-label filter-label--small">День</span>
					<div class="filter__drop">
						<select placeholder="Категория" name="day1" multiple="multiple" id="opt-category" hidden>
			                <option title="day" name="1">1</option>
			                <option title="day" name="2">2</option>
			                <option title="day" name="3">3</option>
			                <option title="day" name="4">4</option>
			                <option title="day" name="5">5</option>
			                <option title="day" name="6">6</option>
			                <option title="day" name="7">7</option>
			                <option title="day" name="8">8</option>
			                <option title="day" name="9">9</option>
			                <option title="day" name="10">10</option>
			                <option title="day" name="11">11</option>
			                <option title="day" name="12">12</option>
			                <option title="day" name="13">13</option>
			                <option title="day" name="14">14</option>
			                <option title="day" name="15">15</option>
			                <option title="day" name="16">16</option>
			                <option title="day" name="17">17</option>
			                <option title="day" name="18">18</option>
			                <option title="day" name="18">18</option>
			                <option title="day" name="19">19</option>
			                <option title="day" name="20">20</option>
			                <option title="day" name="21">21</option>
			                <option title="day" name="22">22</option>
			                <option title="day" name="23">23</option>
			                <option title="day" name="24">24</option>
			                <option title="day" name="25">25</option>
			                <option title="day" name="26">26</option>
			                <option title="day" name="27">27</option>
			                <option title="day" name="28">28</option>
			                <option title="day" name="29">29</option>
			                <option title="day" name="30">30</option>
			                <option title="day" name="31">31</option>			         		
				        </select>
					</div>
				</div>
			</div>
			<div class="e-form--inline e-form--mr10">
				<div class="e__dropList">
				<p></p>
					<span class="filter-label filter-label--month">месяц</span>
					<div class="filter__drop">
						<select placeholder="Категория" name="month1" multiple="multiple" id="opt-category" hidden>
			                <option title="month" name="1">Январь</option>
			                <option title="month" name="2">Февраль</option>
			                <option title="month" name="3">Март</option>
			                <option title="month" name="4">Апрель</option>
			                <option title="month" name="5">Май</option>
			                <option title="month" name="6">Июнь</option>
			                <option title="month" name="7">Июль</option>
			                <option title="month" name="8">Август</option>
			                <option title="month" name="9">Сентябрь</option>
			                <option title="month" name="10">Октябрь</option>
			                <option title="month" name="11">Ноябрь</option>
			                <option title="month" name="12">Декабрь</option>	         		
				        </select>
					</div>
				</div>
			</div>
			<div class="e-form--inline">
				<div class="e__dropList">
				<p></p>
					<span class="filter-label filter-label--small">Год</span>
					<div class="filter__drop">
						<select placeholder="Категория" name="year1" multiple="multiple" id="opt-category" hidden>
			                <option title="year" name="2000">2000</option>
			                <option title="year" name="2001">2001</option>
			                <option title="year" name="2002">2002</option>
			                <option title="year" name="2003">2003</option>
			                <option title="year" name="2004">2004</option>
			                <option title="year" name="2005">2005</option>
			                <option title="year" name="2006">2006</option>
			                <option title="year" name="2007">2007</option>
			                <option title="year" name="2008">2008</option>
			                <option title="year" name="2009">2009</option>
			                <option title="year" name="2010">2010</option>
			                <option title="year" name="2011">2011</option>
			                <option title="year" name="2012">2012</option>
			                <option title="year" name="2013">2013</option>
			                <option title="year" name="2014">2014</option>
			                <option title="year" name="2015">2015</option>         		
				        </select>
					</div>
				</div>
			</div>
		</div>
		<div class="e-form--wrap">
			<button type="submit" class="button button--yelow">Сохранить</button>
		</div>
	</form>
</div>
