<div class="slider-row">
	<div class="sl sl__nav">
		<a href="#" class="nav sl__nav--link nav--prev" data-nav="prev"></a>
		<a href="#" class="nav sl__nav--link nav--next" data-nav="next"></a>
	</div>
	<div class="sl sl__text">
		<ul class="slider__wrapper">
			<li data-btn="Условия акции">Покупай в одну покупку 3 пары и получай скидку до 20% </li>
			<li data-btn="Узнать подробности">Купи 2 пары по цене 3!</li>
			<li data-btn="Налетай! Покупай!">Осенне - Весенняя - Летняя - Зимняя распродажа!</li>
		</ul>
	</div>
	<div class="sl sl__btn">
		<a href="#" class="button button--fix button--yelow">Условия акции</a>
	</div>
</div>