<div class="slider-goods slider-goods--item">
        <h3 class="goods__title">Получите скидку до 20% на товары:</h3>
        <div class="goods__nav">
            <a href="#" class="goods__link goods__link--prev nav nav--prev" data-nav="prev"></a>
            <a href="#" class="goods__link goods__link--next nav nav--next" data-nav="next"></a>
        </div>
    <div class="goods__vitrin">  
        <ul class="slider__wrapper">
        	<li>@@include('../catalog/product-slider-item.html', { "label" : 0 })</li>
        	<li>@@include('../catalog/product-slider-item.html', { "label" : 0 })</li>
        	<li>@@include('../catalog/product-slider-item.html', { "label" : 0 })</li>
        	<li>@@include('../catalog/product-slider-item.html', { "label" : 0 })</li>
        	<li>@@include('../catalog/product-slider-item.html', { "label" : 0 })</li>
        	<li>@@include('../catalog/product-slider-item.html', { "label" : 0 })</li>
        </ul>
    </div>
</div>