<div class="shop-slider">
	<div class="shop-slider__vitrin">
		<ul class="slider__wrapper">
			<li><a class="fancybox" rel="group1" href="./images/shop-slider-img.jpg"><img src="./images/shop-slider-img.jpg" alt="foto"></a></li>
			<li><a class="fancybox" rel="group1" href="./images/shop-slider-img.jpg"><img src="./images/shop-slider-img.jpg" alt="foto"></a></li>
			<li><a class="fancybox" rel="group1" href="./images/shop-slider-img.jpg"><img src="./images/shop-slider-img.jpg" alt="foto"></a></li>
			<li><a class="fancybox" rel="group1" href="./images/shop-slider-img.jpg"><img src="./images/shop-slider-img.jpg" alt="foto"></a></li>
			<li><a class="fancybox" rel="group1" href="./images/shop-slider-img.jpg"><img src="./images/shop-slider-img.jpg" alt="foto"></a></li>
			<li><a class="fancybox" rel="group1" href="./images/shop-slider-img.jpg"><img src="./images/shop-slider-img.jpg" alt="foto"></a></li>
		</ul>
	</div>
	<div class="shop-slider__nav">
        <a href="#" class="nav nav--prev"></a>
        <span class="slider__input"></span>
        <a href="#" class="nav nav--next"></a>
    </div>
</div>