<footer>
    <div class="footer">
        <div class="f__container">
            <span class="f__title">Магазин</span>
            <ul>
                <li><a href="#">Женская обувь</a></li>
                <li><a href="#">Мужская обувь</a></li>
                <li><a href="#">Детская обувь</a></li>
                <li><a href="#">Сумки</a></li>
            </ul>
        </div>
        <div class="f__container">
            <span class="f__title">Компания</span>
            <ul>
                <li><a href="#">Доставка</a></li>
                <li><a href="#">Оплата</a></li>
                <li><a href="#">Возврат</a></li>
                <li><a href="#">Помощь</a></li>
            </ul>
        </div>
        <div class="f__container">
            <span class="f__title v-hidden">Прочее</span>
            <ul>
                <li><a href="#">Отзывы</a></li>
                <li><a href="#">Сотрудничество</a></li>
                <li><a href="#">Новости</a></li>
                <li><a href="#">Акции</a></li>
            </ul>
        </div>
        <div class="f__container f__container--social">
            <span class="f--yelow">Соц. сети</span>
                <ul>
                    <li><a class="ico__social ico__social--vk" href="#"></a></li>
                    <li><a class="ico__social ico__social--od" href="#"></a></li>
                    <li><a class="ico__social ico__social--fb" href="#"></a></li>
                    <li><a class="ico__social ico__social--tw" href="#"></a></li>
                    <li><a class="ico__social ico__social--ig" href="#"></a></li>
                    <li><a class="ico__social ico__social--gp" href="#"></a></li>
                    <li><a class="ico__social ico__social--am" href="#"></a></li>
                </ul>
            <span class="f--yelow">Контактная информация</span>
            <p class="f__info f__info--phone"><span class="f--red">8 800</span> 100-03-24; <span class="f--red">8 928</span> 810-03-24</p>
            <p class="f__info f__info--e-mail"> <a href="#">office<span class="f--red">@</span>eobuv.ru</a> </p>
        </div>
    </div>
    <div class="copyright">&copy; 2012-2015 &laquo;ЕвроОбувь&raquo;</div>      
</footer>