<div class="filter">
	<form action="#">
		<div class="filter__cont filter__cont--size filter-label">
			<span>Размер: 36 - 36,5</span>
			<div class="filter__drop filter__drop--size">
				<select placeholder="Категория" name="select1" multiple="multiple" id="opt-category" hidden>
	                <option title="size" name="1">36</option>
	                <option title="size" name="2">37</option>
	                <option title="size" name="3">38</option>
	                <option title="size" name="4">39</option>
	                <option title="size" name="4">40</option>
	                <option title="size" name="5">41</option>
		        </select>
				<button type="submit" class="button button--lite button--fix">Применить</button>
			</div>
		</div>
		<div class="filter__cont filter__cont--color filter-label">
			<span>Цвет: любой</span>
		</div>

		<div class="filter__cont filter__cont--heel filter-label">
			<span>Высота каблука: любая</span>
			<div class="filter__drop filter__drop--heel">
				<select placeholder="Категория" name="select1" multiple="multiple" id="opt-category" hidden>
	                <option title="heel" name="1">2-4 см.</option>
	                <option title="heel" name="2">4-6 см.</option>
	                <option title="heel" name="3">6-8 см.</option>
	                <option title="heel" name="4">8-10 см.</option>
		        </select>
				<button type="submit" class="button button--lite button--fix">Применить</button>
			</div>
		</div>
		<div class="filter__cont filter__cont--cost filter-label">
			Цена: <span class="enter-cost"> 21 000-35 800 </span>руб.
			<div class="filter__drop filter__drop--cost">
                <label for="range__slider" hidden></label>
                <input type="text" id="range__slider" name="range__slider" value="" />
                <button type="submit" class="button button--lite button--fix">Применить</button>
            </div>
		</div>

		<div class="filter__cont filter__cont--material filter-label">
			<span>Материал: любой</span>
			<div class="filter__drop filter__drop--material">
				<select placeholder="Категория" name="select1" multiple="multiple" id="opt-category" hidden>
	                <option title="material" name="1">Кожа</option>
	                <option title="material" name="2">Кож-зам</option>
	                <option title="material" name="3">Резина</option>
	                <option title="material" name="4">Замша</option>
		        </select>
				<button type="submit" class="button button--lite button--fix">Применить</button>
			</div>
		</div>
		<div class="filter__cont filter__cont--brand filter-label">
			<span>Бренд: любой</span>
			<div class="filter__drop filter__drop--brand">
				<select placeholder="Категория" name="select1" multiple="multiple" id="opt-category" hidden>
	                <option title="brand" name="1">Tamaris</option>
	                <option title="brand" name="2">Rieker</option>
	                <option title="brand" name="3">Lacoste</option>
	                <option title="brand" name="4">Saucony</option>
	                <option title="brand" name="4">Wrangler</option>
	                <option title="brand" name="5">Accessorize</option>
		        </select>
				<button type="submit" class="button button--lite button--fix">Применить</button>
			</div>
		</div>
	</form>
</div>