@@include('../components/head/head.html')

<body>

@@include('../components/noscript/noscript.html')

<div class="container">
 
@@include('../components/header/header.html', {
	"login" : false
})

@@include('../components/sliders/slider-row.html')


@@include('../components/breadcrumbs/breadcrumbs.html', {
	"title" : "Туфли",
	"first" : "Главная",
	"second" : "Женская обувь",
	"third" : "Туфли"
})


@@include('../components/sidebar/sidebar.html')

<div class="content">

@@include('../components/filter/filter.html')

@@include('../components/catalog/catalog.html', {
	"full" : false,
	"tag" : "h2",
	"title" : "Лидеры продаж",
	"sort" : false,
	"row" : 1
})

@@include('../components/catalog/catalog.html', {
	"full" : false,
	"tag" : "h2",
	"title" : "Всего 19189 товаров",
	"sort" : false,
	"row" : 1
})

</div>

@@include('../components/paginator/paginator.html')

@@include('../components/mail/mail-form.html', {
	"title" : "Подпишитесь на новинки в этой категории, учитывая выбранные фильтры"
})

@@include('../components/footer/footer.html')

</div>

@@include('../components/scripts/scripts.html')

<script>
	$('div.slider-row').sliderShop({
		caseLimit: 1,
		animation: "hide-show",
		spaceSection: 'auto',
		timer: 5000,
		repeat: true
	});

	$('.filter__cont--color').selectToList({
		choice : true,
		button : true
	});
	$('.filter__cont--material').selectToList({
		choice : true,
		button : true
	});
	$('.filter__cont--heel').selectToList({
		choice : true,
		button : true
	});
	$('.filter__cont--brand').selectToList({
		choice : true,
		button : true
	});
	$('.filter__cont--size').selectToList({
		choice : true,
		button : true
	});
	$('.filter__cont--cost').selectToList({
    	selection : false
	});

	var inp = $('.enter-cost');
	
	$('#range__slider').ionRangeSlider({
	    type: "double",
	    min: 2000,
	    max: 11000,
	    from: 3000,
	    to: 10000,
	    step: 10,
	    force_edges: true,
	    hide_min_max: true,
	    onChange: function (data) {
	        inp.html(data.from + '-' + data.to);
    	}
	});
</script>

</body>
</html>