@@include('../components/head/head.html')

<body>

@@include('../components/noscript/noscript.html')

<div class="container">
 
@@include('../components/header/header.html', {
	"login" : false
})

@@include('../components/breadcrumbs/breadcrumbs.html', {
	"title" : "Магазины",
	"first" : "Главная",
	"second" : "Магазины",
	"third" : false
})

@@include('../components/shops/evro-shops.html')

@@include('../components/paginator/paginator.html')

@@include('../components/footer/footer.html')

@@include('../components/popup/ask.html')

</div>

@@include('../components/scripts/scripts.html')

<script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

<script>
$( document ).ready(function() {
    $('div.shop-slider').sliderShop({
        caseLimit: 1,
        spaceSection: 'auto',
        count: true
    });
});
$('.shop__tab').tab();
$('.shops__tabs').tab();
$('a.fancybox').fancybox();

@@include('../components/popup/popup.js')

@@include('../components/shops/map.js')

</script>

<div class="popup__map">
	<p>
       <div id="map">
       		<a href="#" class="map--close"></a>
       </div>
    </p>
</div>

</body>
</html>