@@include('../components/head/head.html')

<body>

@@include('../components/noscript/noscript.html')

<div class="container">
 
@@include('../components/header/header.html', {
	"login" : false
})

@@include('../components/breadcrumbs/breadcrumbs.html', {
	"title" : "Магазины",
	"first" : "Главная",
	"second" : "Магазины",
	"third" : false
})

@@include('../components/shops/evro-shops.html')

@@include('../components/paginator/paginator.html')

@@include('../components/footer/footer.html')

</div>

@@include('../components/scripts/scripts.html')

<script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

<script>
$( document ).ready(function() {
    $('div.shop-slider').sliderShop({
        caseLimit: 1,
        spaceSection: 'auto',
        count: true
    });
});
$('.shop__tab').tab();
$('.shops__tabs').tab();
$('a.fancybox').fancybox();


ymaps.ready(init);


function init () {
    var myMap;

    $('.map').bind({
        click: function (e) {
        	e.preventDefault();
        	var self = this;
            var coord = $(this).data('coord').split(',');
            console.log(coord);
            $('.popup').show();
            // if (!myMap) { myMap.destroy(); }
                myMap = new ymaps.Map('map', {
                    center: coord, 
                    zoom: 15
                }, {
                    searchControlProvider: 'yandex#search'
                });
                $("#toggle").attr('value', 'Скрыть карту');
    
            
            $('.map--close').one('click', function(e) {
            	e.preventDefault();
            	$('.popup').hide();
            	myMap.destroy();// Деструктор карты
                myMap = null;

            });

            var myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
        		balloonContentBody: [
            '<address>',
            '<strong>Магазин ЕвроОбувь в Одессе</strong>',
            '<br/>',
            'Адрес: 119021, Одесса, ул. Льва Толстого, 16',
            '<br/>',
            'Подробнее: <a href="http://eobuv.ru/">http://eobuv.ru/</a>',
            '</address>'
		        ].join('')
		    }, {
		        preset: 'islands#redDotIcon'
		    });

		    myMap.geoObjects.add(myPlacemark);
		}
       
    });
}
</script>

<div class="popup">
	<p>
       <div id="map">
       		<a href="#" class="map--close"></a>
       </div>
    </p>
</div>

</body>
</html>