@@include('../components/head/head.html')

<body>

@@include('../components/noscript/noscript.html')

<div class="container">
 
@@include('../components/header/header.html', {
	"login" : false
})

@@include('../components/sliders/slider-row.html')

@@include('../components/breadcrumbs/breadcrumbs.html', {
	"title" : "Отзывы",
	"first" : "Главная",
	"second" : "Отзывы",
	"third" : false
})

<p class="review__desc">Выберете параметры обуви, отзывы о которой вам интересно почитать:</p>

@@include('../components/filter/filter.html')

@@include('../components/reviews/reviews.html')

@@include('../components/paginator/paginator.html')

@@include('../components/footer/footer.html')

</div>

@@include('../components/scripts/scripts.html')

<script>
	$('.filter__cont--color').selectToList({
		choice : true,
		button : true
	});
	$('.filter__cont--material').selectToList({
		choice : true,
		button : true
	});
	$('.filter__cont--heel').selectToList({
		choice : true,
		button : true
	});
	$('.filter__cont--brand').selectToList({
		choice : true,
		button : true
	});
	$('.filter__cont--size').selectToList({
		choice : true,
		button : true
	});
	$('.filter__cont--cost').selectToList({
    	selection : false
	});

	var inp = $('.enter-cost');
	
	$('#range__slider').ionRangeSlider({
	    type: "double",
	    min: 2000,
	    max: 11000,
	    from: 3000,
	    to: 10000,
	    step: 10,
	    force_edges: true,
	    hide_min_max: true,
	    onChange: function (data) {
	        inp.html(data.from + '-' + data.to);
    	}
	});
</script>

</body>
</html>