.m-form {
	margin-top: 25px;

	@include e('wrap') {
		@extend .block--dark;
		padding: 10px 20px;
	}
	

	@include e('container') {
		@extend .inline-block-vtop;


		@include m('checkbox') {
			margin: 26px 28px 23px 0;
			font-size: 12px;

			label {
				padding-left: 35px;
				position: relative;
				display: block;
				line-height: 1.2em;
				letter-spacing: 1.1px;
			}

			input[type="checkbox"] + label:before {
				background: url("/images/checkbox.png") 0 0 no-repeat;
				content: ' ';
				cursor:pointer;
				height: 16px;
				left: 5px;
				position: absolute;
				width: 16px;
    			top: 5px;
			}

			input[type="checkbox"]:checked + label:before {
				background-position: -16px 0;
			}
		}
		@include m('area') {
			margin: 5px 0 5px 25px;
			label, input {
				display: block;
				line-height: 1.5em;
			}

			input[type="text"] {
				border-radius: 10px;
				box-sizing: border-box;
				font-size: 14px;
				font-weight: bold;
				height: 40px;
				padding: 5px 10px;
				width: 195px;
				&:focus {
					outline: 0;
				}
			}
		}

		@include m('btn') {
			width: 80px;
			margin: 25px 0 0 0;
			float: right;
		}
	}

	@include e('title') {
		font-size: 18px;
		font-weight: bold;
		line-height: 2.5em;
	}
	
	.button {
		height: 40px;
		position: relative;
		&:after {
			position: absolute;
			content: '';
			width: 16px;
			height: 16px;
			left: 32px;
			top: 11px;
			background: url('/images/icon-sl.png') -156px 0 no-repeat;
		}
	}

}