<div class="m-form">
	<h3 class="m-form__title">@@title</h3>
	<div class="m-form__wrap">
		<form action="#">
			<div class="m-form__container m-form__container--checkbox">
				<input type="checkbox" name="m-box1" id="m-box1">
				<label for="m-box1">Новости <br> компании</label>
			</div>
			<div class="m-form__container m-form__container--checkbox">
				<input type="checkbox" name="m-box2" id="m-box2">
				<label for="m-box2">Акции <br> и скидки</label>
			</div>
			<div class="m-form__container m-form__container--checkbox">
				<input type="checkbox" name="m-box3" id="m-box3">
				<label for="m-box3">Новые <br> поступления</label>
			</div>
			<div class="m-form__container m-form__container--area">
				<label for="name">Ваше имя:</label>
				<input type="text" name="name" id="name">

			</div>
			<div class="m-form__container m-form__container--area">
				<label for="name">Адрес электронной почты:</label>
				<input type="text" name="name" id="name">

			</div>
			<div class="m-form__container m-form__container--btn">
				<button type="submit" class="button button--yelow button--fix"></button>
			</div>
		</form>
	</div>
</div>