 <aside class="sidebar">
 	<ul>
 		<li><a href="#">Сапоги</a></li>
 		<li class="active"><a href="#">Туфли</a></li>
 		<li><a href="#">Ботинки</a></li>
 		<li><a href="#">Босоножки</a></li>
 		<li><a href="#">Ботильон</a></li>
 		<li><a href="#">Балетки</a></li>
 		<li><a href="#">Кросовки и кеды</a></li>
 		<li><a href="#">Сандали</a></li>
 		<li><a href="#">Резиновая обувь</a></li>
 		<li><a href="#">Мокасины</a></li>
 		<li><a href="#">Новинки</a></li>
 		<li><a href="#">Со скидкой</a></li>
 	</ul>
 </aside>