<div class="e-form e-form__registration">
	<h3>Регистрация</h3>
	<div class="e-form--wrap">
		<p>Совершаете покупку впервые? Зарегитрируйтесь, чтобы:</p>
		<ul>
			<li>- получить электронную накоритедьную карту</li>
			<li>- вести историю ваших покупок</li>
			<li>- узнавать первыми о новинках</li>
		</ul>
	</div>
	<form action="#" name="registration">
		
		<label for="name">Ваше имя:</label>
		<input type="text" name="name" id="name">

		<label for="e-mail">E-mail:</label>
		<input type="text" name="e-mail" id="e-mail">
		<div class="e-form--wrap">
			<button type="submit" class="button button--yelow">Войти</button>
		</div>
	</form>
</div>