.history {
	margin-bottom: 65px;
	position: relative;
	width: 755px;
	h3 {
		font-size: 24px;
		font-weight: bold;
		line-height: 40px;
	}

	@include e('sort') {
		position: absolute;
		top: 0;
		right: 0;
		color: $clr-gray;
		line-height: 40px;

		.filter-label {padding: 0 20px;}
		.filter__drop {
			top: 40px;

			input[type="radio"] + label {
				padding-left: 20px;
    			width: 100%;
    			display: block;
    			box-sizing: border-box;
			}
		}
	}

	@include e('head') {
		margin: 43px 0 5px; 
		padding: 0 10px;
		font-weight: bold;
		font-size: 13px;
	}

	@include e('row') {
		border-radius: 5px;
		border: 1px solid $clr-gray-default;
		height: 40px;
		line-height: 40px;
		margin-bottom: 10px;
		padding: 0 20px 0 10px;
		position: relative;
		cursor: pointer;
		&:after {
			content: '';
			position: absolute;
			right: 10px;
			top: 12px;
			height: 16px;
			width: 16px;
			background:transparent url('/images/icon-sl.png') 0 0 no-repeat;
			transform: rotate(-90deg);
			transition: all .2s ease-out 0.1s;
		}

		&.active {
			background-color: $clr-gray-lite;
			&:after {
				transform: rotate(90deg);
				transition: all .3s ease-out 0.1s;
			}
		}
	}

	@include e('col') {
		@extend .inline-block-vtop;
	
		@include m('numb') {width: 144px;}
		@include m('date') {width: 270px;}
		@include m('stat') {width: 200px;}
		@include m('summ') {}
		@include m('img') {
			width: 90px;
			img {
				width: 49px;
				border: 1px solid $clr-gray-default;
				margin-left: 23px;
			}
		}
		@include m('name') {
			width: 337px;
			font-weight: bold;
			p {padding: 0}
			p:not(:last-child) {padding-bottom: 5px;}
		}
		@include m('amount') {width: 87px;}
		@include m('price') {width: 115px;}
		@include m('cost') {}
	}

	@include e('details') {
		margin-bottom: 15px;
		display: none;

		@include m('head') {
			padding-top: 35px;
			font-size: 12px;
		}

		@include m('desc') {
			padding: 17px 0;
			font-size: 13px;
			font-weight: bold;
			&:not(:last-child) {
				border-bottom: 1px solid $clr-gray-default;
			}
		}
	}
}