<div class="history__row">
	<div class="history__col history__col--numb">1564863</div>
	<div class="history__col history__col--date">13 февраля 2012</div>
	<div class="history__col history__col--stat">Успешно завершен</div>
	<div class="history__col history__col--summ">18 500 руб</div>
</div>

<div class="history__row active">
	<div class="history__col history__col--numb">1564863</div>
	<div class="history__col history__col--date">13 февраля 2012</div>
	<div class="history__col history__col--stat">Успешно завершен</div>
	<div class="history__col history__col--summ">18 500 руб</div>
</div>
<div class="history__details">
	<div class="history__details--head">
		<div class="history__col history__col--img"></div>
		<div class="history__col history__col--name">Наименование товара:</div>
		<div class="history__col history__col--amount">Кол-во</div>
		<div class="history__col history__col--price">Цена:</div>
		<div class="history__col history__col--cost">Сумма:</div>
	</div>
	<div class="history__details--desc">
		<div class="history__col history__col--img">
			<img src="./images/basket-img.jpg" alt="foto">
		</div>
		<div class="history__col history__col--name">
			<p>Туфли Tamaris</p>
			<p>бежевые многоразовые</p>
			<p>Размер: 39</p>
		</div>
		<div class="history__col history__col--amount">1</div>
		<div class="history__col history__col--price">10 300 руб.</div>
		<div class="history__col history__col--cost">10 300 руб.</div>
	</div>
	<div class="history__details--desc">
		<div class="history__col history__col--img">
			<img src="./images/basket-img.jpg" alt="foto">
		</div>
		<div class="history__col history__col--name">
			<p>Туфли Tamaris</p>
			<p>бежевые многоразовые</p>
			<p>Размер: 39</p>
		</div>
		<div class="history__col history__col--amount">1</div>
		<div class="history__col history__col--price">10 300 руб.</div>
		<div class="history__col history__col--cost">10 300 руб.</div>
	</div>
	<div class="history__details--desc">
		<div class="history__col history__col--img">
			<img src="./images/basket-img.jpg" alt="foto">
		</div>
		<div class="history__col history__col--name">
			<p>Туфли Tamaris</p>
			<p>бежевые многоразовые</p>
			<p>Размер: 39</p>
		</div>
		<div class="history__col history__col--amount">1</div>
		<div class="history__col history__col--price">10 300 руб.</div>
		<div class="history__col history__col--cost">10 300 руб.</div>
	</div>
</div>

<div class="history__row">
	<div class="history__col history__col--numb">1564863</div>
	<div class="history__col history__col--date">13 февраля 2012</div>
	<div class="history__col history__col--stat">Успешно завершен</div>
	<div class="history__col history__col--summ">18 500 руб</div>
</div>

<div class="history__row">
	<div class="history__col history__col--numb">1564863</div>
	<div class="history__col history__col--date">13 февраля 2012</div>
	<div class="history__col history__col--stat">Успешно завершен</div>
	<div class="history__col history__col--summ">18 500 руб</div>
</div>

<div class="history__row">
	<div class="history__col history__col--numb">1564863</div>
	<div class="history__col history__col--date">13 февраля 2012</div>
	<div class="history__col history__col--stat">Успешно завершен</div>
	<div class="history__col history__col--summ">18 500 руб</div>
</div>

<div class="history__row">
	<div class="history__col history__col--numb">1564863</div>
	<div class="history__col history__col--date">13 февраля 2012</div>
	<div class="history__col history__col--stat">Успешно завершен</div>
	<div class="history__col history__col--summ">18 500 руб</div>
</div>

<div class="history__row">
	<div class="history__col history__col--numb">1564863</div>
	<div class="history__col history__col--date">13 февраля 2012</div>
	<div class="history__col history__col--stat">Успешно завершен</div>
	<div class="history__col history__col--summ">18 500 руб</div>
</div>

<div class="history__row">
	<div class="history__col history__col--numb">1564863</div>
	<div class="history__col history__col--date">13 февраля 2012</div>
	<div class="history__col history__col--stat">Успешно завершен</div>
	<div class="history__col history__col--summ">18 500 руб</div>
</div>

<div class="history__row">
	<div class="history__col history__col--numb">1564863</div>
	<div class="history__col history__col--date">13 февраля 2012</div>
	<div class="history__col history__col--stat">Успешно завершен</div>
	<div class="history__col history__col--summ">18 500 руб</div>
</div>