<div class="review">

	<div class="review__container clearfix">
		<div class="review__img">
			<img src="./images/review-pic.jpg" alt="foto">
		</div>
		<div class="review__wrap">
			<div class="review__title">Туфли Tamaris</div>
			<span class="review__last">Последний отзыв:</span>
			<h6>Ирина, Краснодар:</h6>
			<p class="review__text">
				Туфли прикольные, и с джинсами и с формами и с юбкой летом будут смотреться круто.
				Нежные. Советую. На свой 37 взяла 37 норма
			</p>
			<div class="review__stars">
				<div class="review__rating">
					<span>Удобство</span>
					<span class="review__star">
						<span class="review__rate review__rate--3">
					</span>
				</div>
				<div class="review__rating">
					<span>Соответсвие размеру</span>
					<span class="review__star">
						<span class="review__rate review__rate--4">
					</span>
				</div>
				<div class="review__rating">
					<span>Материал</span>
					<span class="review__star">
						<span class="review__rate review__rate--2">
					</span>
				</div>
				<div class="review__rating">
					<span>Внешний вид</span>
					<span class="review__star">
						<span class="review__rate review__rate--3">
					</span>
				</div>
			</div>
			<p class="review__all"><a href="#">Все отзывы</a>(10)</p>
		</div>
	</div>

	<div class="review__container clearfix">
		<div class="review__img">
			<img src="./images/review-pic.jpg" alt="foto">
		</div>
		<div class="review__wrap">
			<div class="review__title">Туфли Tamaris</div>
			<span class="review__last">Последний отзыв:</span>
			<h6>Ирина, Краснодар:</h6>
			<p class="review__text">
				Туфли прикольные, и с джинсами и с формами и с юбкой летом будут смотреться круто.
				Нежные. Советую. На свой 37 взяла 37 норма
			</p>
			<div class="review__stars">
				<div class="review__rating">
					<span>Удобство</span>
					<span class="review__star">
						<span class="review__rate review__rate--3">
					</span>
				</div>
				<div class="review__rating">
					<span>Соответсвие размеру</span>
					<span class="review__star">
						<span class="review__rate review__rate--4">
					</span>
				</div>
				<div class="review__rating">
					<span>Материал</span>
					<span class="review__star">
						<span class="review__rate review__rate--2">
					</span>
				</div>
				<div class="review__rating">
					<span>Внешний вид</span>
					<span class="review__star">
						<span class="review__rate review__rate--3">
					</span>
				</div>
			</div>
			<p class="review__all"><a href="#">Все отзывы</a>(10)</p>
		</div>
	</div>

	<div class="review__container clearfix">
		<div class="review__img">
			<img src="./images/review-pic.jpg" alt="foto">
		</div>
		<div class="review__wrap">
			<div class="review__title">Туфли Tamaris</div>
			<span class="review__last">Последний отзыв:</span>
			<h6>Ирина, Краснодар:</h6>
			<p class="review__text">
				Туфли прикольные, и с джинсами и с формами и с юбкой летом будут смотреться круто.
				Нежные. Советую. На свой 37 взяла 37 норма
			</p>
			<div class="review__stars">
				<div class="review__rating">
					<span>Удобство</span>
					<span class="review__star">
						<span class="review__rate review__rate--3">
					</span>
				</div>
				<div class="review__rating">
					<span>Соответсвие размеру</span>
					<span class="review__star">
						<span class="review__rate review__rate--4">
					</span>
				</div>
				<div class="review__rating">
					<span>Материал</span>
					<span class="review__star">
						<span class="review__rate review__rate--2">
					</span>
				</div>
				<div class="review__rating">
					<span>Внешний вид</span>
					<span class="review__star">
						<span class="review__rate review__rate--3">
					</span>
				</div>
			</div>
			<p class="review__all"><a href="#">Все отзывы</a>(10)</p>
		</div>
	</div>

	<div class="review__container clearfix">
		<div class="review__img">
			<img src="./images/review-pic.jpg" alt="foto">
		</div>
		<div class="review__wrap">
			<div class="review__title">Туфли Tamaris</div>
			<span class="review__last">Последний отзыв:</span>
			<h6>Ирина, Краснодар:</h6>
			<p class="review__text">
				Туфли прикольные, и с джинсами и с формами и с юбкой летом будут смотреться круто.
				Нежные. Советую. На свой 37 взяла 37 норма
			</p>
			<div class="review__stars">
				<div class="review__rating">
					<span>Удобство</span>
					<span class="review__star">
						<span class="review__rate review__rate--3">
					</span>
				</div>
				<div class="review__rating">
					<span>Соответсвие размеру</span>
					<span class="review__star">
						<span class="review__rate review__rate--4">
					</span>
				</div>
				<div class="review__rating">
					<span>Материал</span>
					<span class="review__star">
						<span class="review__rate review__rate--2">
					</span>
				</div>
				<div class="review__rating">
					<span>Внешний вид</span>
					<span class="review__star">
						<span class="review__rate review__rate--3">
					</span>
				</div>
			</div>
			<p class="review__all"><a href="#">Все отзывы</a>(10)</p>
		</div>
	</div>

</div>