.zoomer {
	// @extend .inline-block-vtop;
	position: relative;

	@include e('list') {
		li {
			display: inline-block;
			margin-left: 10px;
			width: 60px;
			height: 60px;
			border: 1px solid $clr-gray-default;

			a {
				&.active img {opacity: .4;}
			}
		}

		li, li img {border-radius: 5px;}
	}

	@include e('tooltip') {
		background: #fff url('/images/ajax-loader.gif') 50% 50% no-repeat;
		background-color: #fff;
		border-radius: 10px;
		border: 1px solid $clr-gray-default;
		visibility: hidden;
		transition: opacity .3s cubic-bezier(0, 0, 0.8, 0.83) .1s;
		opacity: 0;
		height: 500px;
		overflow: hidden;
		position: absolute;
		right: -505px;
		top: 0;
		width: 500px;

		&:not(:empty) {
			background: none;
			background-color: #fff;

		}
		

		img {
			position: absolute;
			max-width: 1000px;
			max-height: 1000px;
		}
	}

	@include e('main') {
		background:transparent url('/images/no_image.png') 50% 50% no-repeat;
		cursor: crosshair;
		width: 320px;
		height: 320px;
		&:empty {cursor: default;}
		&:hover + .zoomer__tooltip {
			visibility: visible;
			transition: opacity .3s cubic-bezier(0, 0, 0.8, 0.83) .1s;
			opacity: 1;
		}
		// &:hover + .zoomer__tooltip:empty {display: none}

		img {
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}