<div class="zoomer">
	<div class="zoomer__main"></div>
	<div class="zoomer__tooltip"></div>
	<ul class="zoomer__list">
		<li class="active">
			<a href="images/zoomer-img-big1.jpg">
			<img src="./images/zoomer-img-def1.jpg" alt="foto">
			</a>
		</li>
		<li>
			<a href="images/zoomer-img-big2.jpg">
				<img src="./images/zoomer-img-def2.jpg" alt="foto">
			</a>
		</li>
		<li>
			<a href="images/zoomer-img-big3.jpg">
				<img src="./images/zoomer-img-def3.jpg" alt="foto">
			</a>
		</li>
		<li>
			<a href="images/zoomer-img-big4.jpg">
				<img src="./images/zoomer-img-def4.jpg" alt="foto">
			</a>
		</li>
	</ul>
</div>