<div class="availability">
	<h3>Наличие в магазинах:</h3>
	<div class="av__wrap">
		<div class="av__row">
			<div class="av__box av__box--name">
				<p>Пятигорск, ул. Дзержинского</p>
				<p>ТЦ Детский мир</p>
			</div>
			<div class="av__box av__box--size">
				<p>Размеры:</p>
				<ul>
					<li>
						<input type="radio" name="size" id="shop1-size36">
						<label for="shop1-size36">36</label>
					</li>
					<li>
						<input type="radio" name="size" id="shop1-size37">
						<label for="shop1-size37">37</label>
					</li>
					<li>
						<input type="radio" name="size" id="shop1-size38">
						<label for="shop1-size38">38</label>
					</li>
					<li>
						<input type="radio" name="size" id="shop1-size39">
						<label for="shop1-size39">39</label>
					</li>
					<li>
						<input type="radio" name="size" id="shop1-size40">
						<label for="shop1-size40">40</label>
					</li>
				</ul>
			</div>
			<div class="av__box av__box--amt">
				<p>В наличии:</p>
				<p>2 пары</p>
			</div>
			<div class="av__box av__box--timetable">
				<p>Ежедневно</p>
				<p>с 9:00 до 20:00</p>
			</div>
			<div class="av__box av__box--btn">
				<a href="#" class="button button--fix button--yelow">Забрать</a>
			</div>
		</div>

		<div class="av__row">
			<div class="av__box av__box--name">
				<p>Армавир, ул. Дзержинского</p>
				<p>ТЦ Красная площадь</p>
			</div>
			<div class="av__box av__box--size">
				<p>Размеры:</p>
				<ul>
					<li>
						<input type="radio" name="size" id="shop2-size36">
						<label for="shop2-size36">36</label>
					</li>
					<li>
						<input type="radio" name="size" id="shop2-size37">
						<label for="shop2-size37">37</label>
					</li>
					<li>
						<input type="radio" name="size" id="shop2-size38">
						<label for="shop2-size38">38</label>
					</li>
					<li>
						<input type="radio" name="size" id="shop2-size39">
						<label for="shop2-size39">39</label>
					</li>
					<li>
						<input type="radio" name="size" id="shop2-size40">
						<label for="shop2-size40">40</label>
					</li>
					<li class="disable">
					<input type="radio" name="size" id="shop2-size41">
						<label for="shop2-size41">41</label>
					</li>
				</ul>
			</div>
			<div class="av__box av__box--amt">
				<p>В наличии:</p>
				<p>7 пар</p>
			</div>
			<div class="av__box av__box--timetable">
				<p>Вт - Вс</p>
				<p>с 10:00 до 21:00</p>
			</div>
			<div class="av__box av__box--btn">
				<a href="#" class="button button--fix button--yelow">Забрать</a>
			</div>
		</div>
	</div>
</div>