<div class="cat__product">
<a href="#">
@@if ( !!label == true ) {
	<span class="label">@@label</span>
}

	<div class="cat__img">
		<img src="./images/related1.jpg" alt="foto">
	</div>
	<div class="cat__desc">
		<p class="cat__big">Сумка David Jones пудрового цвета</p>
	</div>
	<span class="cat__cost">5 500 р.</span>
</a>
</div>

<div class="cat__product">
<a href="#">
@@if ( !!label == true ) {
	<span class="label">@@label</span>
}

	<div class="cat__img">
		<img src="./images/related2.jpg" alt="foto">
	</div>
	<div class="cat__desc">
		<p class="cat__big">Изящные перчатки бежевого цвета от Fabretti</p>
	</div>
	<span class="cat__cost">2 300 р.</span>
</a>
</div>