<div class="cat__product">

@@if ( !!label == true ) {
	<span class="label">@@label</span>
}

	<div class="cat__img">
		<img src="./images/product1.jpg" alt="foto">
		<img class="img--hover v-hidden" src="./images/product2.jpg" alt="foto">
	</div>

	<div class="cat__sizes cat__sizes--gray v-hidden">
		<span>Размеры:</span>
		<ul>
			<li>37</li>
			<li>38</li>
			<li class="active">39</li>
			<li>40</li>
		</ul>
	</div>
	<div class="cat__desc">
		<p>Босоножки Женские Supro голубые кожанные</p>
	</div>
	<span class="cat__cost">12 500 р.</span>
	<a href="#" class="button button--fix button--yelow">Быстрый просмотр</a>
</div>