<div class="shop">
	<div class="shop__title">
		Магазин <span>ЕвроОбувь</span> в Пятигорске
	</div>
	<div class="shop__map">
		<a href="#" class="map" data-coord="46.467208,30.711136">
			<img src="https://api-maps.yandex.ru/services/constructor/1.0/static/?sid=Z6xPKYIKkqB44FNWGKzOUfJk8PI_4H_7&width=441&height=235" alt=""/>
		</a>
	</div>
	@@include('../sliders/slider-shop.html')
	<div class="shop__tab">
		<a data-tab="shop-slider" href="#" class="active">фото</a>
		<a data-tab="shop__map" href="#">Карта проезда</a>
	</div>
	<p>
		Магазин в самом центре Пятигорска. Работает с 2012 года.
		Широкий ассортимент всех марок немецкой обуви.
	</p>
	<div class="shop__adress">

		<div class="shop__ico shop__ico--adds">
			<span>Адресс:</span>
			<p>Пятигорск, ул. Дзержинского, Тц Детский мир</p>
		</div>

		<div class="shop__ico shop__ico--hours">
			<span>Часы работы: 09:00 - 20:00</span>
			<p>Телефон 8 (8793) 3-47-98</p>
		</div>

		<div class="shop__ico shop__ico--way">
			<span>Как добраться:</span>
			<p>Номера трамваев: 4,7,8,7; Маршрутки: 1,6,7</p>
			<p>Остановка Держинского</p>
		</div>
	</div>
	<div class="shop__recall">
	<span class="shop__last-recall">Последний отзыв:</span>
		<div class="qq__message">
			<span class="qq__name">Марина (3 недели назад)</span>
			<p class="qq__text">
				Подскажите, пожалуйста, если сегодня модели нет в наличие,
				значит ли это, что ее не будет большее в продаже?
			</p>
		</div>
		<a href="#" class="button button--fix button--yelow popup__link" data-popup="popup__ask"></a>
		<a href="opinion.html">Все отзывы</a>
	</div>
</div>

