<div class="item__wrap">
@@include('../zoomer/zoomer.html')

	<div class="related">
	<h3>К Вашим туфлям подойдут:</h3>
	@@include('../catalog/product-related.html', {
		"label" : 0
	})
	</div>

</div>
<div class="item">
	<div class="item__title">Туфли Tamaris</div>
	<div class="item__brand-logo">
		<img src="./images/brand1.jpg" alt="brand-logo">
	</div>
	<div class="item__size">
	<span>Размер:</span>
		<ul>
			<li>
				<input type="radio" name="size" id="size36">
				<label for="size36">36</label>
			</li>
			<li>
				<input type="radio" name="size" id="size37">
				<label for="size37">37</label>
			</li>
			<li>
				<input type="radio" name="size" id="size38">
				<label for="size38">38</label>
			</li>
			<li>
				<input type="radio" name="size" id="size39">
				<label for="size39">39</label>
			</li>
			<li>
				<input type="radio" name="size" id="size40">
				<label for="size40">40</label>
			</li>
			<li class="disable">
				<input type="radio" name="size" id="size41" disabled>
				<label for="size41">41</label>
			</li>
		</ul>
		<a href="#">Таблица размеров</a>
	</div>
	<div class="item__cost">12 500 руб.</div>
	<div class="item__basket">
		<a href="#" class="button button--fix button--yelow popup__link" data-popup="popup__add">В корзину</a>
		<a href="#" data-popup="popup__cheap" class="popup__link">Нашли дешевле?</a>
	</div>
	<div class="item__desc">
		<div class="desc__row">
			<div class="desc__name col1">Артикул:</div>
			<div class="desc__prop col2">9H50-62</div>
		</div>
		<div class="desc__row">
			<div class="desc__name col1">Бренд:</div>
			<div class="desc__prop col2">ALPINA</div>
		</div>
		<div class="desc__row">
			<div class="desc__name col1">Внешний материал:</div>
			<div class="desc__prop col2">Кожа</div>
		</div>
		<div class="desc__row">
			<div class="desc__name col1">В материал:</div>
			<div class="desc__prop col2">Кожа</div>
		</div>
		<div class="desc__row">
			<div class="desc__name col1">Коллекция:</div>
			<div class="desc__prop col2">Весна-лето 2015</div>
		</div>
		<div class="desc__row">
			<div class="desc__name col1">Материал подошвы:</div>
			<div class="desc__prop col2">TP</div>
		</div>
		<div class="desc__row">
			<div class="desc__name col1">Производитель:</div>
			<div class="desc__prop col2">BOSNIA</div>
		</div>
		<div class="desc__row">
			<div class="desc__name col1">Тип:</div>
			<div class="desc__prop col2">Туфли открытые</div>
		</div>
		<div class="desc__row">
			<div class="desc__name col1">Высота каблука:</div>
			<div class="desc__prop col2">7см</div>
		</div>
		<div class="desc__row">
			<div class="desc__name col1">Цвет:</div>
			<div class="desc__prop col2">Темно-синий</div>
		</div>
	</div>

<div class="qq">
	<div class="qq__title">
		Вопросы и отзывы:
		<a href="#" class="button button--fix button--yelow popup__link" data-popup="popup__ask"></a>
	</div>
	<div class="qq__message">
		<span class="qq__name">Ксения(4недели назад)</span>
		<p class="qq__text">Скажите, какая высота подошвы у данной модели?</p>
	</div>
	<div class="qq__message">
		<span class="qq__name">Катя (4 недели назад)</span>
		<p class="qq__text">Здравствуйте,подскажите размер,если длина стопы 25,5см.</p>
	</div>
	<div class="qq__message">
		<span class="qq__name">Еврообувь (4 недели назад)</span>
		<p class="qq__text">
			Ксения, в данной модели высота подошвы составляет 3,5 см.
			С уважением, служба поддержки клиентов
		</p>
	</div>
	<div class="qq__message">
		<span class="qq__name">Еврообувь (4 недели назад)</span>
		<p class="qq__text">
			Екатерина, в данной модели, для размера 40 (RUS), длина стельки
			составляет 25,5 см. С уважением, служба поддержки клиентов
		</p>
	</div>
	<div class="qq__message">
		<span class="qq__name">Марина (3 недели назад)</span>
		<p class="qq__text">
			Подскажите, пожалуйста, если сегодня модели нет в наличие,
			значит ли это, что ее не будет большее в продаже?
		</p>
	</div>
	<div class="qq__message">
		<span class="qq__name">Еврообувь (3 недели назад)</span>
		<p class="qq__text">
			Марина, следите, пожалуйста, за обновлениями! Размерный ряд
			еще будет пополняться в течение сезона. С уважением, служба
			поддержки клиентов
		</p>
	</div>

</div>
</div>