<div class="adv">
	<a href="#" class="adv__container">
		<span class="adv__ico adv__ico--size"></span>
		Большие <br> размеры всегда <br> в наличии
	</a>
	<a href="#" class="adv__container">
		<span class="adv__ico adv__ico--dealer"></span>
		Официальный <br> диллер Tamaris <br> и Riker
	</a>
	<a href="#" class="adv__container">
		<span class="adv__ico adv__ico--germany"></span>
		Кожанная обувь <br> производителей <br> из германии
	</a>
	<a href="#" class="adv__container">
		<span class="adv__ico adv__ico--foot"></span>
		Большой выбор <br> для проблемной <br> и широкой ноги
	</a>
	<a href="#" class="adv__container">
		<span class="adv__ico adv__ico--shop"></span>
		Накорительная <br> система скидок <br> ондайн
	</a>
	<a href="#" class="adv__container">
		<span class="adv__ico adv__ico--shoping"></span>
		Межсезонные <br> распродажи <br> и акции
	</a>
</div>