<div class="news-sm">
@@if (!!title == true && !!tag == true ) {
	<@@tag class="news-sm__title">@@title</@@tag>
	<a href="news.html"class="fl-r news-sm__link">Все новости</a>
}

	<div class="news-sm__wrap">
		<div class="news-sm__container">
			<a href="#">
				<img src="./images/news1.jpg" alt="foto">
				<p>Состоялось официальное открытие
					нового магазина обуви «ЕвроОбувь»
					в Армавире.
				</p>
				<span>25 мая</span>
			</a>
		</div>
		<div class="news-sm__container">
			<a href="#">
				<img src="./images/news2.jpg" alt="foto">
				<p>Стильная современное обувь – это
					непременное сочетание красоты,
					качества и комфорта. Современный
					покупатель искушен...
				</p>
				<span>25 мая</span>
			</a>
		</div>
		<div class="news-sm__container">
			<a href="#">
				<img src="./images/news3.jpg" alt="foto">
				<p>Мужская и женская обувь компании
					Nord завоевала популярность
					благодаря своему качеству.
				</p>
				<span>25 мая</span>
			</a>
		</div>
	</div>
</div>