<div class="news">

	<div class="news__container clearfix">
		<div class="news__img">
			<img src="./images/news-main1.jpg" alt="news">
		</div>
		<div class="news__wrap">
			<div class="news__title">
				<a href="#">Акция пирамида скидок</a>
			</div>
			<p class="news__text">
				В наших магазинах проходит акция пирамида скидок. На вторую покупку в чеки
				скидка 5% На третью 10% На четвертую 15% Европейская обувь по справедливым
				ценам в Россий скидки по картам постоянных покупателей суммируются.
				ЕвроОбувь дарим хорошее настроение!!!
			</p>
			<span class="news__date">20 июня 2015</span>
		</div>
	</div>

	<div class="news__container clearfix">
		<div class="news__img">
			<img src="./images/news-main2.jpg" alt="news">
		</div>
		<div class="news__wrap">
			<div class="news__title">
				<a href="#">Открытие магазина в Армавире</a>
			</div>
			<p class="news__text">
				Состоялось официальное открытие нового магазина обуви «ЕвроОбувь» в г. Армавир.
				Теперь жители города Армавир могут насладиться качественной европейской обувью.
			</p>
			<span class="news__date">20 июня 2015</span>
		</div>
	</div>
	
	<div class="news__container clearfix">
		<div class="news__img">
			<img src="./images/news-main1.jpg" alt="news">
		</div>
		<div class="news__wrap">
			<div class="news__title">
				<a href="#">Акция пирамида скидок</a>
			</div>
			<p class="news__text">
				В наших магазинах проходит акция пирамида скидок. На вторую покупку в чеки
				скидка 5% На третью 10% На четвертую 15% Европейская обувь по справедливым
				ценам в Россий скидки по картам постоянных покупателей суммируются.
				ЕвроОбувь дарим хорошее настроение!!!
			</p>
			<span class="news__date">20 июня 2015</span>
		</div>
	</div>

	<div class="news__container clearfix">
		<div class="news__img">
			<img src="./images/news-main2.jpg" alt="news">
		</div>
		<div class="news__wrap">
			<div class="news__title">
				<a href="#">Открытие магазина в Армавире</a>
			</div>
			<p class="news__text">
				Состоялось официальное открытие нового магазина обуви «ЕвроОбувь» в г. Армавир.
				Теперь жители города Армавир могут насладиться качественной европейской обувью.
			</p>
			<span class="news__date">20 июня 2015</span>
		</div>
	</div>

</div>