<div class="popup popup__add">
	<div class="popup__wrap">
		<a href="#" class="popup__close"></a>
		<h2>Товар добавлен в корзину</h2>
		<div class="popup__goods">
			<div class="popup__img">
				<img src="./images/product1.jpg" alt="foto">
			</div>
			<div class="popup__desk">
				<div class="p__title"><h3>Туфли Tamaris</h3></div>
				<div class="p__size"><p>Размер: 39</p></div>
				<div class="p__amount"><p>Количество: 1</p></div>
				<div class="p__cost"><p>12500 руб.</p></div>
				<div class="p__order">
					<a href="evro-order.html" class="button button--yelow">Оформить</a>
					<a href="#" class="continue p__close">Продолжить покупки</a>
				</div>
			</div>
		</div>


		<h3>Для ухода подойдут:</h3>
		@@include('../catalog/product__popup.html')
		@@include('../catalog/product__popup.html')
		@@include('../catalog/product__popup.html')
	</div>
</div>