<div class="popup popup__ask">
	<div class="popup__wrap">
	<a href="#" class="popup__close"></a>
	<form action="#" class="e-form">
		<h2>Оставтьте отзыв или задайте вопрос</h2>
		<p class="e-form__desc">
			Мы рады, что вы проявили интерес к данной модели. 
			Если у вас возник вопрос по данной модели обуви, наша служба поддержки с радостью поможет вам разобраться. 
			Напишите свой вопрос ниже. Если мы посчитаем ваш вопрос полезным для других пользователей,
			мы опубликуем его на сайте.
		</p>
		
		<div class="e-form--wrap">
			<div class="e-form--inline">
				<label for="comment">Вопрос:</label>
				<textarea class="e-form__textarea" name="comment" id="comment"></textarea>
			</div>
			<div class="e-form--inline">
				<span class="e-form__prompt e-form__prompt--big">
					Напишите, что вас интересует. Возможно вы затрудняетесь
					с выбором размера. Или вас интересуют более подробно 
					характеристики данной модели.

					Например, подойдет ли она на ногу с большой полнотой.
					Опишите как можно точно ваши сомнения.
				</span>
			</div>
		</div>
		<div class="e-form--wrap">
			<div class="e-form--inline">
			<label for="name">Ваше имя:</label>
				<input type="text" name="name" id="name">
			</div>

			<div class="e-form--inline">
				<label for="e-mail">E-mail:</label>
				<input type="text" name="e-mail" id="e-mail">
			</div>
			<div class="e-form--inline">
				<span class="e-form__prompt e-form__prompt--big e-form__prompt--bottom">
					Пожалуйста, укажите e-mail, который вы проверяете регулярно,
					чтобы не пропустить ответ на ваш вопрос.
				</span>
			</div>
		</div>
		<button type="submit" class="button button--yelow">Отправить</button>
		</form>
	</div>
</div>