<div class="popup popup__cheap">
	<div class="popup__wrap">
	<a href="#" class="popup__close"></a>
	<form class="e-form" action="#">
	<h3>Видели товар дешевле?</h3>
	<p class="e-form__desc">
		Отправьте ссылку на данный товар. У конкурента будет цена ниже — вернем разницу!
		Промокод будет отправлен на телефон и е-mail.
	</p>
	
	<div class="e-form--wrap">
		<div class="e-form--inline">
			<label for="name">Ссылка на товар (например: <span class="blue">http://www.site.ru/boleedeshevle</span>)</label>
			<input type="text" name="name" class="input--link" id="name">
		</div>
		<div class="e-form--inline">
			<span class="e-form__prompt e-form__prompt--big e-form__prompt--bottom">
				Скопируйте в поле ссылку с сайта, где вы нашли этот же товар дешевле,
				чтобы мы могли в этом удостовериться.
			</span>
		</div>
	</div>
	<div class="e-form--wrap">
		<div class="e-form--inline">
			<label for="name">Ваше имя:</label>
			<input type="text" name="name" id="name">
		</div>

		<div class="e-form--inline">
			<label for="name">E-mail:</label>
			<input type="text" name="name" id="name">
		</div>
		<div class="e-form--inline">
			<span class="e-form__prompt e-form__prompt--big e-form__prompt--bottom">
				Оставьте свой адрес и мы пришлем вам промо-код.
			</span>
		</div>
	</div>
	<div class="e-form--wrap">
		<div class="e-form--inline">
			<label for="phone">Телефон:</label>
			<input type="text" name="phone" id="phone">
		</div>
		<div class="e-form--inline">
			<span class="e-form__prompt e-form__prompt--big e-form__prompt--bottom">
				Оставьте номер телефона, мы уведомим вас о промо-коде,
				чтобы вы не забыли о своей скидке.
			</span>
		</div>
	</div>
	<button type="submit" class="button button--yelow">Отправить</button>
	</form>
</div>
</div>